/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

header {
    
    background: hsl(0, 0%, 100%);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #333;
    color: #fff;
}

/* mobile version */
@media (min-width: 375px) {
    head{
        background-image:url('assets/images/background-pattern-mobile.svg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
    }
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
/*desktop version*/
@media (min-width: 1440px) {

    head{
        background-image:url('assets/images/background-pattern-desktop.svg');
        background-repeat:no-repeat;
        background-size:contain;
        background-position:center;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
